bosonLink()
  text-decoration: none;
  color: #fff;

.o-nav {

}

.menu {
  // any styles
}

.menu__item {
  // any styles
}

.menu__link {
  bosonLink()
}

.o-footer {
  // any styles
}

.footer__link {
  bosonLink()
  padding: 40px;
}
