/* main
======================================== */
/* CSS syntax
==================== */
.btn {
  color: #d44289;
}
/* Stylus syntax
==================== */
.btn {
  color: #d44289;
}
/* Variables
==================== */
.btn {
  color: #d44289;
}
/* Functions
==================== */
.btn {
  width: 500px;
  height: 500px;
}
/* @import
==================== */
.footer {
  background: #d44289;
}
