/* main
======================================== */

/* CSS syntax
==================== */
.btn {
  color: #d44289;
}

/* Stylus syntax
==================== */
.btn
  color #d44289

/* Variables
==================== */
light = #d44289;

.btn {
  color: light;
}

/* Functions
==================== */
box(size)
  width size
  height size

.btn {
  box(500px)
}

/* @import
==================== */
@import "module.styl"
