/* Settings */
@import 'settings/colors'

/* Tools */
@import 'tools/mixins'

/* Generic */
@import 'generic/box-model'

/* Base */
@import 'base/normalize'
@import 'base/page'

/* Objects */
@import 'objects/form-login'
@import 'objects/text'
@import 'objects/input-text'
@import 'objects/submit-btn'

/* Components */
@import 'components/header'
@import 'components/main'
@import 'components/footer'

/* Trumps */
@import 'trumps/inactive'
