.submit-btn
    margin 5px 0
    float right
    border 2px solid secundary-color
    padding 10px 25px
    background-color initial
    color #fff
    transition .3s
    font-size 12px

.submit-btn:hover
    background-color secundary-color
    cursor pointer